celery
crispy-bootstrap5
django-alive
django-crispy-forms
django-maintenance-mode
django-storages
environs[django]
hiredis
pytest-cov
pytest-django
redis
black
autopep8
yapf
django-allauth
django-debug-toolbar
django-haystack
django-channels
channels
djongo
python-decouple
ruff
django-stubs
django-test-plus
djlint
ipdb
mkdocs-include-markdown-plugin
mkdocs-linkcheck
mkdocs-material
mkdocstrings[python]
model-bakery
mypy
ruff
ruff-lsp
