celery
coverage
django-cas-ng
django-celery-results
django-cors-headers
django-dbconn-retry
django-environ
django-extensions
django-filter
django-guardian
django-redis
django-private-storage
django-storages
Django
djangorestframework
djangorestframework-simplejwt
drf-jwt
drf-spectacular
entrypoints
Envelopes
eventlet
ffmpeg
flake8-coding
flake8-quotes
flake8
flask
gevent
gunicorn
idna
imageio
imageio-ffmpeg
inflection
ipython
jsonfield
markdown
mkdocs
mysqlclient
numpy
opencv-python
otpauth
Pillow
psutil
psycopg2
psycopg2-binary
pygments
PyJWT
pylinkvalidator
PyOpenGL
PyOpenGL-accelerate
python-dateutil
python-sockerio
pyvips
pywin32
pyyaml
qrcode
raven
redis
requests
websockets
wheel
XlsxWriter
